
/* color */
$main-color: #ffffff;
$dark-text-color: #000;
$light-text-color: #000000;
$hover-text-color: #c52047;

/* size*/
$container-max-width: 1280px;
$main-font-size: 18px;
$main-border-radius: 20px;
$main-red-color: #c52047;
$main-red-hover-color: #f62556;
$footer-text-color: #CCCCCC;