@import 'src\\style-base\\_variables.scss';


.admin-page {
    display: flex;
    flex-direction: column;
    font-family: Manrope;
    min-height: 100vh;
    letter-spacing: 1.4px;

    .admin-header {
        color: $light-text-color;
        font-size: 20px;
        font-weight: 700;
        max-height: 50px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .admin-main {
        background-color: $main-color;
        background-color: rgb(247, 247, 247);

        display: flex;
        padding: 0px 20px 20px 20px;
        color: #000000;
        height: 100vh;
        .page-nav {
            flex: 1 1 auto;
            margin-top: 30px;
            min-width: 260px;
        }

        .admin-pages {
            width: 100%;
            margin-top: 30px;
            background-color: #fff;
            overflow: auto;
        }
    }
}